@mixin fontface($name, $file, $style: normal, $weight: normal, $swap: swap) {
  @font-face {
    font-family: '#{$name}';
    src: url('/assets/fonts/#{$file}.woff') format('woff'), url('/assets/fonts/#{$file}.woff2') format('woff2');
    font-style: $style;
    font-weight: $weight;
    font-display: $swap;
  }
}

/* Start - All Family Fonts */

// @include fontface('Santander Bold', 'SantanderHeadline-Bold');
// @include fontface('Santander Italic', 'SantanderHeadline-It');
// @include fontface('Santander Bold Italic', 'SantanderHeadline-BoldIt');
// @include fontface('Santander Light Italic', 'SantanderHeadlineLight-It');
// @include fontface('Santander Light', 'SantanderHeadlineLight');
// @include fontface('Santander Headline', 'SantanderHeadline-Regular');

// @include fontface('Santander Micro Bold Italic', 'SantanderMicroText-BdIt');
// @include fontface('Santander Micro Text', 'SantanderMicroText');
// @include fontface('Santander Micro Bold', 'SantanderMicroText-Bd');
// @include fontface('Santander Micro Light Italic', 'SantanderMicroText-LtIt');
// @include fontface('Santander Micro Italic', 'SantanderMicroText-It');
// @include fontface('Santander Micro Light', 'SantanderMicroText-Lt');
// @include fontface('Santander Micro SemiBd Italic', 'SantanderMicroTextSmBd-It');
// @include fontface('Santander Micro SemiBd', 'SantanderMicroTextSemiBold');
// @include fontface('Santander Micro ExtraBd', 'SantanderMicroTextExtraBold');
// @include fontface('Santander Micro ExtraBd Italic', 'SantanderMicroTextXBd-It');

// @include fontface('Santander Text', 'SantanderText-Bold');
// @include fontface('Santander Text', 'SantanderText-Italic');
// @include fontface('Santander Text', 'SantanderText-BoldItalic');
// @include fontface('Santander Text', 'SantanderText-Light');
// @include fontface('Santander Text', 'SantanderText-LightItalic');
// @include fontface('Santander Text', 'SantanderText-Regular');
// @include fontface('Santander Text', 'SantanderTextSemiBold');
// @include fontface('Santander Text', 'SantanderTextSemiBold-It');
// @include fontface('Santander Text', 'SantanderTextExtraBold');
// @include fontface('Santander Text', 'SantanderTextExtraBold-It');

/* End - All Family Fonts */

/* Start Family Fonts (defined by Mx) */

@include fontface('Santander Headline', 'SantanderHeadlineLight', normal, 300);
@include fontface('Santander Headline', 'SantanderHeadline-Regular', normal, 400);
@include fontface('Santander Headline', 'SantanderHeadline-Bold', normal, 700);

@include fontface('Santander Micro Text', 'SantanderMicroText-Lt', normal, 300);
@include fontface('Santander Micro Text', 'SantanderMicroText', normal, 400);
@include fontface('Santander Micro Text', 'SantanderMicroText-Bd', normal, 700);

/* End Family Fonts Mx */

html {
  @apply text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headline;
}

@media (max-width: 1023px) {
  .button-not-icon i {
    @apply hidden;
  }
}

body {
  margin: 0;
}
