@mixin fontface($name, $file, $style: normal, $weight: normal, $swap: swap) {
  @font-face {
    font-family: "#{$name}";
    src: url("/assets/fonts/#{$file}.woff") format("woff"), url("/assets/fonts/#{$file}.woff2") format("woff2");
    font-style: $style;
    font-weight: $weight;
    font-display: $swap;
  }
}

@include fontface("Santander Headline", "SantanderHeadlineLight", normal, 300);
@include fontface("Santander Headline", "SantanderHeadline-Regular", normal, 400);
@include fontface("Santander Headline", "SantanderHeadline-Bold", normal, 700);

@include fontface("Santander Micro Text", "SantanderMicroText-Lt", normal, 300);
@include fontface("Santander Micro Text", "SantanderMicroText", normal, 400);
@include fontface("Santander Micro Text", "SantanderMicroText-Bd", normal, 700);

html {
  @apply text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headline;
}

@media (max-width: 1023px) {
  .button-not-icon i {
    @apply hidden;
  }
}

body {
  margin: 0;
}
