<div class="flex flex-col gap-2.5 p-4 lg:px-6">
  <div class="lg:hidden">
    <div class="flex flex-col gap-2">
      <p>Selecciona empresa:</p>
      <div class="relative bg-primary py-2 px-4 lg:py-4 lg:px-6 rounded-2xl flex items-center justify-between w-full">
        <p class="text-white font-bold text-base lg:text-xl leading-6">Talent Ready Perú SAC</p>
        <i class="icon-chevron-down text-white cursor-pointer text-2xl font-bold" data-modal="modal-option-select"></i>
      </div>
    </div>
  </div>

  <std-banner-ads>
    <std-slider [slides]="slides"></std-slider>
  </std-banner-ads>

  <std-banner label="Cuentas">
    <std-breadcrumbs-item label="Cuentas"></std-breadcrumbs-item>
  </std-banner>

  <div class="mt-[14px] flex flex-col gap-4">
    <div class="flex flex-col gap-4 lg:w-2/5">
      <p class="text-dark font-bold text-2xl">Selección de la cuenta</p>
      <std-select show-label label="Cuenta" placeholder="Selecciona una cuenta">
        <div class="py-4">
          <std-input type="search" placeholder="Buscar"></std-input>
        </div>
        <ul class="w-full py-2 overflow-y-auto max-h-[304px]">
          <li *ngFor="let account of accounts" class="py-3 flex flex-col gap-2">
            <p class="font-bold text-dark text-sm leading-5">{{ account.accountName }}</p>
            <p class="text-dark text-sm leading-5">{{ account.accountCurrency }} {{ account.accountNumber }}</p>
          </li>
        </ul>
      </std-select>
    </div>
  </div>

  <div class="flex flex-col gap-4 lg:gap-6">
    <std-heading label="Datos de la cuenta"></std-heading>
  </div>

  <div class="bg-info-light rounded-2xl p-6 flex flex-col lg:flex-row lg:justify-between gap-6 w-full">
    <div class="bg-white shadow-button rounded-lg p-4 lg:w-1/2">
      <div class="flex justify-between">
        <p class="font-bold text-dark text-lg">{{ transactions.accountName }}</p>
        <picture class="w-6 h-6 block">
          <img src="assets/images/svg/isotipo.svg" class="w-full h-full object-cover object-center" />
        </picture>
      </div>
      <p class="font-bold text-dark text-xl">{{ transactions.accountNumber }}</p>
      <p class="text-soft text-sm">CCI {{ transactions.cci }}</p>
    </div>
    <div class="flex gap-4 justify-center items-center">
      <std-button label="Copiar Cuenta" icon="copy" (clickEvent)="copyAccountToClipboard(transactions.accountNumber)"></std-button>
      <std-button label="Estado de Cuenta" (clickEvent)="toggleModal(modalEstadoCuenta, true)"></std-button>

      <std-modal #modalEstadoCuenta no-header size="m" modal-classes="lg:min-h-[600px] lg:top-1/2 lg:translate-y-1/4" classes="!overflow-visible" (iconClick)="toggleModal(modalEstadoCuenta, false)">
        <div class="flex flex-col gap-6 w-full">
          <div class="flex items justify-between">
            <h2 class="font-bold text-lg text-dark">Descargar Estado de Cuenta</h2>
          </div>
          <div class="flex flex-col lg:flex-row gap-6 css-modal__select-filters">
            <div class="flex flex-col w-full">
              <std-select show-label label="Periodo" placeholder="2024 - Mayo">
                <ul>
                  <!-- selected item -->
                  <!-- <li class="font-bold text-dark py-2">2024 - Junio</li> -->
                  <li *ngFor="let period of periodList" class="text-dark py-2">{{ period }}</li>
                </ul>
              </std-select>
            </div>
            <div class="flex flex-col w-full">
              <std-select show-label label="Formato" placeholder="Seleccione el formato">
                <ul>
                  <li class="font-bold text-dark py-2">PDF</li>
                  <!-- <li class="text-dark py-2">XLS</li> -->
                  <li class="text-dark py-2">CSV</li>
                </ul>
              </std-select>
            </div>
          </div>
        </div>

        <std-button slot="footer" type="secondary" label="Cancelar" (clickEvent)="toggleModal(modalEstadoCuenta, false)"></std-button>
        <std-button slot="footer" label="Descargar" (clickEvent)="toggleModal(modalEstadoCuenta, false)"></std-button>
      </std-modal>
    </div>
  </div>
  <div class="bg-info-light rounded-2xl p-6 flex flex-col lg:flex-row gap-4 lg:gap-1 xl:gap-6 lg:justify-between w-full">
    <div class="bg-white border border-alternative-medium rounded-lg p-4 flex items-center lg:items-end justify-between lg:w-1/4">
      <p class="text-dark text-sm font-bold lg:w-[90px]">Saldo disponible</p>
      <p class="text-dark text-lg font-bold">{{ transactions.symbol }} {{ transactions.availableBalance | number : '1.2-2' }}</p>
    </div>
    <div class="bg-white border border-alternative-medium rounded-lg p-4 flex items-center lg:items-end justify-between lg:w-1/4">
      <p class="text-dark text-sm font-bold lg:w-[90px]">Saldo contable</p>
      <p class="text-dark text-lg font-bold">{{ transactions.symbol }} {{ transactions.countableBalance | number : '1.2-2' }}</p>
    </div>
    <div class="bg-white border border-alternative-medium rounded-lg p-4 flex items-center lg:items-end justify-between lg:w-1/4">
      <p class="text-dark text-sm font-bold lg:w-[90px]">Saldo diferido</p>
      <p class="text-dark text-lg font-bold">{{ transactions.symbol }} {{ transactions.deferredBalance | number : '1.2-2' }}</p>
    </div>
    <div class="bg-white border border-alternative-medium rounded-lg p-4 flex items-center lg:items-end justify-between lg:w-1/4">
      <p class="text-dark text-sm font-bold lg:w-[90px]">Saldo retenido</p>
      <p class="text-dark text-lg font-bold">{{ transactions.symbol }} {{ transactions.retainedBalance | number : '1.2-2' }}</p>
    </div>
  </div>

  <div class="flex flex-col gap-4 lg:gap-6">
    <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2">
      <h3 class="text-2xl leading-8 text-dark font-bold">Movimientos</h3>
      <p class="text-xs leading-4 text-dark hidden lg:flex items-center gap-1">
        Información disponible de los<span class="font-bold">últimos 180 días</span>
        <i class="icon-reload text-base leading-none text-primary"></i>
      </p>
    </div>
    <div class="bg-info-light rounded-2xl p-6 flex flex-row justify-between items-end gap-6">
      <div class="hidden lg:flex items-end gap-4">
        <div class="flex flex-col gap-1">
          <label class="flex items-center gap-1">
            Rango de fechas
            <div class="group relative flex">
              <i class="icon-information-in-a-circle-2px text-info text-xl leading-none"></i>
              <div class="absolute w-72 hidden bg-white rounded-lg p-6 shadow-modal group-hover:block z-10 css-tooltip bottom-[calc(100%+1rem)] left-1/2 -translate-x-1/2 lg:-left-10 lg:translate-x-0 text-sm">
                <div class="absolute w-4 h-4 bg-white rotate-45 -bottom-2 left-1/2 -translate-x-1/2 lg:left-10 lg:translate-x-0"></div>
                <div class="relative">
                  <div class="flex flex-col gap-2">
                    <p class="font-bold text-dark text-lg">Límite de rango de fechas</p>
                    <p class="text-dark text-sm">Recuerda que puedes seleccionar un rango de hasta 60 días</p>
                  </div>
                </div>
              </div>
            </div>
          </label>
          <div class="flex flex-col gap-1">
            <div class="relative">
              <input class="w-full h-12 rounded-lg p-3 placeholder:text-soft border-border-default hover:border-dark focus:border-alternative focus:ring-alternative pr-12 js-calendar !w-80" type="text" placeholder="Seleccione un rango" />
              <i class="absolute top-3 right-3 text-2xl leading-none text-alternative icon-calendar"></i>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-6">
          <button
            class="inline-flex justify-center items-center font-bold rounded-full transition-all duration-300 ease-in-out bg-white text-primary shadow-button hover:bg-button-secondary-hover hover:text-primary-dark gap-1 min-w-36 px-5 py-3 !min-w-12 w-12 h-12">
            <i class="text-xl leading-none icon-search"></i>
          </button>
          <button class="inline-flex justify-center items-center gap-1 text-sm font-bold transition duration-300 ease-in-out text-alternative hover:text-alternative-dark flex-row">
            <span>Limpiar</span>
            <i class="text-2xl leading-none icon-trash-bin"></i>
          </button>
        </div>
      </div>
      <button
        class="inline-flex justify-center items-center font-bold rounded-full transition-all duration-300 ease-in-out bg-dark/0 text-alternative hover:bg-dark/[0.04] hover:text-alternative-dark gap-1 min-w-28 text-sm px-4 py-1.5 bg-white shadow-modal hidden lg:inline-flex"
        aria-label="Descargar">
        <i class="text-xl leading-none icon-download"></i>
        <span>Descargar</span>
      </button>
      <button
        class="inline-flex justify-center items-center font-bold rounded-full transition-all duration-300 ease-in-out bg-primary text-white hover:bg-primary-dark gap-1 min-w-28 text-sm px-4 py-1.5 lg:hidden w-2/4"
        aria-label="Descargar">
        <span>Descargar</span>
      </button>
      <button
        class="inline-flex justify-center items-center font-bold rounded-full transition-all duration-300 ease-in-out bg-white text-primary shadow-button hover:bg-button-secondary-hover hover:text-primary-dark gap-1 min-w-28 text-sm px-4 py-1.5 lg:hidden w-2/4"
        aria-label="Filtrar">
        <span>Filtrar</span>
        <i class="text-xl leading-none icon-filter"></i>
      </button>
    </div>
  </div>

  <!-- <std-table>
		<div slot="tableTh">
		  <std-table-th title-th="Tipo de Cuenta" icon> </std-table-th>
		  <std-table-th title-th="Cuenta" icon position-classes="justify-end"></std-table-th>
		  <std-table-th title-th="Moneda" icon position-classes="justify-end"></std-table-th>
		  <std-table-th title-th="Saldo disponible" icon position-classes="justify-center"></std-table-th>
		  <std-table-th title-th="Saldo contable" icon position-classes="justify-center"></std-table-th>
		  <std-table-th title-th="Saldo diferido" icon position-classes="justify-center"></std-table-th>
		  <std-table-th title-th="Saldo retenido" icon position-classes="justify-center"></std-table-th>
		</div>
	</std-table> -->

  <div class="hidden lg:flex items-center justify-between py-6">
    <p class="text-dark text-base font-bold">Resultados de la búsqueda</p>
    <div class="flex items-center gap-6">
      <p class="text-soft text-base flex gap-1">1 al 25 de <span class="font-bold text-dark">999 Registros</span></p>
      <div class="flex items-center justify-end gap-6">
        <div class="flex">
          <i class="icon-chefron-left text-2xl leading-none text-dark opacity-20"></i>
        </div>
        <ul class="flex items-center gap-2">
          <li class="bg-alternative text-white font-bold text-base min-w-8 w-8 h-8 rounded-full flex justify-center items-center">1</li>
          <li class="text-alternative font-bold text-base min-w-8 w-8 rounded-full flex justify-center items-center">...</li>
          <li class="text-alternative font-bold text-base min-w-8 w-8 rounded-full flex justify-center items-center">4</li>
          <li class="text-alternative font-bold text-base min-w-8 w-8 rounded-full flex justify-center items-center">5</li>
          <li class="text-alternative font-bold text-base min-w-8 w-8 rounded-full flex justify-center items-center">6</li>
        </ul>
        <div class="flex">
          <i class="icon-chevron-right text-2xl leading-none text-alternative"></i>
        </div>
      </div>
    </div>
  </div>

  <table class="w-full text-sm text-left">
    <thead class="bg-alternative-light h-16">
      <tr class="border-b border-alternative-medium">
        <th scope="col" class="px-4 py-3 pl-4 pr-0 lg:px-4">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6">
              <label class="flex gap-2">
                <input
                  class="w-6 h-6 rounded focus:ring-focus checked:bg-[length:12px_9px] cursor-pointer text-alternative border-border-default hover:border-dark checked:bg-checkbox-checked checked:hover:text-alternative-dark"
                  type="checkbox" />
              </label>
            </span>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6">Fecha</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6"> Fecha valor</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6"> Operación</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6">Descripción</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1">
            <span class="font-bold text-dark text-base leading-6">Canal</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1 justify-end">
            <span class="font-bold text-dark text-base leading-6 text-right">Importe</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
        <th scope="col" class="px-4 py-3 hidden lg:table-cell">
          <div class="flex items-center gap-1 justify-center">
            <span class="font-bold text-dark text-base leading-6 text-right">Saldo</span>
            <a class="cursor-pointer"><i class="icon-arrow-down text-alternative text-base leading-none"></i></a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let transaction of transactions.accountTransactions" class="bg-white hover:bg-alternative-light w-full border-b border-alternative-medium">
        <td class="py-3 pl-4 lg:px-4 w-7 lg:w-auto">
          <std-checkbox></std-checkbox>
        </td>
        <td class="py-5 px-4 justify-between items-center hidden lg:table-cell">
          <p class="text-dark text-sm leading-5 lg:text-ellipsis lg:whitespace-nowrap lg:max-w-[110px] lg:overflow-hidden">{{ transaction.date }}</p>
        </td>
        <td class="py-5 px-4 text-left hidden lg:table-cell">
          <p class="text-dark text-sm leading-5 lg:text-ellipsis lg:whitespace-nowrap lg:max-w-[110px] lg:overflow-hidden">{{ transaction.dateValue }}</p>
        </td>
        <td class="py-5 px-4 hidden lg:table-cell">
          <p class="text-dark text-sm leading-5">{{ transaction.operationNumber }}</p>
        </td>
        <td class="py-5 px-4">
          <div class="flex items-center justify-between">
            <p class="text-dark text-sm leading-5">{{ transaction.description }}</p>
            <a href="detalle-movimientos-mobile"> <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden"></i> </a>
          </div>
        </td>
        <td class="py-5 px-4 hidden lg:table-cell">
          <p class="text-dark text-sm leading-5">{{ transaction.channel }}</p>
        </td>
        <td class="py-5 px-4 hidden lg:table-cell">
          <p class="text-dark text-sm leading-5 text-right" [class.text-error]="transaction.amount < 0">{{ transactions.symbol }} {{ transaction.amount | number : '1.2-2' }}</p>
        </td>
        <td class="px-4 hidden lg:table-cell">
          <p class="text-dark text-sm leading-5 text-right" [class.text-error]="transaction.balance < 0">{{ transactions.symbol }} {{ transaction.balance | number : '1.2-2' }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
