.margin-actions {
  margin: 10px 20px 30px 20px;
}

.p-20 {
  padding: 20px;
}

.close-button {
  text-align: end;
  padding-right: 8px;
  padding-top: 10px;
}

button {
  color: #666;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.alert-icon {
  text-align: center;
}
