<div class="flex flex-col items-{{position}} text-right">
  <span class="text-xs">{{ label }} </span>
  <div class="flex items-center gap-1">
    <i class="icon-time text-primary"></i>
    <span class="font-headline font-bold">0{{ countdownMinutes }}:{{ countdownSeconds < 10 ? '0' + countdownSeconds : countdownSeconds}}</span>
  </div>
</div>

<std-modal [show]="showModal" [size]="this.sizeModal">
  <div class="flex flex-col gap-4 w-full text-center">
    <h2 class="font-bold text-2xl">El tiempo ha expirado</h2>
    <p>Por favor, intenta nuevamente</p>
  </div>
    <div slot="footer" class="w-full flex justify-center">
      <std-button label="Volver al inicio" (clickEvent)="closeModal()"></std-button>
    </div>
</std-modal>










