<div class="w-full max-w-lg mx-auto">
  <form [formGroup]="form">
    <div class="flex flex-col gap-6 lg:gap-8">
      <div>
        <std-input
          label="Contraseña"
          placeholder="Ingresa una nueva contraseña"
          tooltip-position="right"
          formControlName="password"
          [maxlength]="maxlength"
          [helperText]="helperText1"
          [status]="status1"
          [type]="visiblePassword1 ? 'text' : 'password'"
          [icon]="visiblePassword1 ? 'visibility-off' : 'visibility-on'"
          (changeEvent)="validatePassword($event.detail)"
          (iconClick)="togglePassword1()">
          <div slot="tooltip">
            <std-password-validation [password]="password" (status)="passwordValidationStatus($event.detail)"></std-password-validation>
          </div>
        </std-input>
      </div>

      <div>
        <std-input
          label="Confirma tu contraseña"
          placeholder="Vuelve a ingresar la nueva contraseña"
          formControlName="confirmPassword"
          [maxlength]="maxlength"
          [helperText]="helperText2"
          [status]="status2"
          [type]="visiblePassword2 ? 'text' : 'password'"
          [icon]="visiblePassword2 ? 'visibility-off' : 'visibility-on'"
          (changeEvent)="validateConfirmPassword($event.detail)"
          (iconClick)="togglePassword2()">
        </std-input>
      </div>

      <div class="flex flex-col">
        <std-button label="Siguiente" [disabled]="form.invalid || isLoading" [loading]="isLoading" (clickEvent)="onSubmit()"></std-button>
      </div>
    </div>
  </form>
</div>
