<header class="w-full h-12 lg:h-20 lg:border-b lg:border-b-alternative-medium flex justify-between items-center lg:py-2 px-6">
  <div class="flex items-center gap-6">
    <div class="animate-pulse h-5 bg-gradient-to-r from-gradient to-gradient-to rounded-lg w-32 hidden lg:block">
    </div>
  </div>
  <div class="flex justify-end items-center gap-4 animate-pulse">
    <div class="h-9 bg-gradient-to-r from-gradient to-gradient-to rounded-lg w-48 hidden lg:block">
    </div>
    <div class="flex flex-col justify-end items-end gap-1">
      <div class="h-4 bg-gradient-to-r from-gradient to-gradient-to rounded-lg lg:w-12 hidden lg:block">
      </div>
      <div class="h-10 lg:h-5 bg-gradient-to-r from-gradient to-gradient-to rounded-lg w-10 lg:w-24">
      </div>
    </div>
    <div class="flex flex-col justify-end items-end gap-1">
      <div class="h-10 lg:h-5 bg-gradient-to-r from-gradient to-gradient-to rounded-lg w-10 lg:w-24 hidden lg:block">
      </div>
      <div class="h-10 lg:h-4 bg-gradient-to-r from-gradient to-gradient-to rounded-lg w-10 lg:w-12">
      </div>
    </div>
  </div>
</header>