.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-gradient {
  --tw-gradient-from: #EAEAEA var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(234 234 234 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-gradient-to {
  --tw-gradient-to: #DADADA var(--tw-gradient-to-position);
}