<div class="flex flex-col justify-between min-h-screen pt-14 lg:pt-18">
  <div>
        <std-stepper
        title="Crea tu contraseña"
        description="Para activar tu cuenta en la plataforma, sigue los siguientes pasos">
          <std-stepper-item 
            step=1
            label="Nueva contraseña" 
            status="active">
          </std-stepper-item>
          <std-stepper-item
            step=2
            label="Código de verificación"
            status="incomplete">
          </std-stepper-item>
        </std-stepper>
    <section class="px-4 lg:px-6 pt-8 pb-20 lg:py-12">
      <div class="w-full max-w-lg mx-auto">
        <form>
          <div class="flex flex-col gap-6 lg:gap-8">
            <div>
              <std-input
                label="Contraseña"
                placeholder="Ingresa una nueva contraseña"
                type="password"
                name="password"
                icon="icon-visibility-off"
              ><div slot="tooltip">
                <div class="flex flex-col gap-4">
                  <h4 class="text-sm font-sans font-bold">Tu contraseña debe tener:</h4>
                  <ul class="flex gap-2">
                    <li class="w-full h-0.5 bg-alternative-medium"></li>
                    <li class="w-full h-0.5 bg-secondary-yellow"></li>
                    <li class="w-full h-0.5 bg-success"></li>
                    <li class="w-full h-0.5 bg-green-medium"></li>
                  </ul>
                  <ul class="text-sm">
                    <li class="flex items-center">
                      <span
                        class="flex justify-center items-center w-6 h-6 rounded-full bg-white"
                      >
                        <i class="icon-checkmark-2px text-2xl leading-none text-success"></i>
                      </span>
                      <span>Al menos una minúscula</span>
                    </li>
                    <li class="flex items-center">
                      <span
                        class="flex justify-center items-center w-6 h-6 rounded-full bg-white"
                      >
                        <i class="icon-close text-2xl leading-none text-error"></i>
                      </span>
                      <span class="text-soft line-through">Al menos una mayúscula</span>
                    </li>
                    <li class="flex items-center">
                      <span
                        class="flex justify-center items-center w-6 h-6 rounded-full bg-white"
                      >
                        <span class="block w-2 h-2 rounded-full border border-border-default"
                        ></span>
                      </span>
                      <span>Al menos un número</span>
                    </li>
                    <li class="flex items-center">
                      <span
                        class="flex justify-center items-center w-6 h-6 rounded-full bg-white"
                      >
                        <span class="block w-2 h-2 rounded-full border border-border-default"
                        ></span>
                      </span>
                      <span>8 caracteres</span>
                    </li>
                  </ul>
                </div>                
              </div></std-input>
            </div>
            
            <div>
              <std-input
                label="Confirma tu contraseña"
                placeholder="Vuelve a usar la nueva contraseña"
                type="password"
                name="confirm"
                icon="icon-visibility-off"
              ></std-input>
            </div>

            <div class="flex flex-col items-center">
              <std-button
                label="Siguiente"
                (clickEvent)="onSubmit()"
              ></std-button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

  <std-login-footer [centered]="true"></std-login-footer>
</div>


  <!-- <div *ngIf="false" class="body"> -->
    <!-- <div class="divider"></div> -->
    <!-- <form> -->
      <!-- <mat-slide-toggle #toggle>Show Password Details</mat-slide-toggle> -->

      <!-- <mat-label>Contraseña</mat-label> -->
      <!-- <mat-form-field class="mt-5" style="width: 100%"> -->
        <!-- <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        <input
          matInput
          #passwordValidation
          [type]="toggleVisbility.type"
          required
          placeholder="Ingresa tu contraseña"
          maxlength="8"
          minlength="8"
          (focus)="showStrengthInfo = true"
          (focusout)="showStrengthInfo = false"> -->

        <!-- <mat-hint align="end" aria-live="polite">
          {{ passwordValidation.value.length }} / {{ passwordValidation.maxLength }}
        </mat-hint> -->

        <!-- @if (passwordComponent.passwordFormControl.hasError('required')) {
          <mat-error>Password obligatorio</mat-error>
        }

        @if (passwordComponent.passwordFormControl.hasError('pattern')) {
          <mat-error>Password inválido</mat-error>
        } -->
      <!-- </mat-form-field> -->

      <!-- <mat-password-strength
        class="green"
        #passwordComponent
        (onStrengthChanged)="onStrengthChanged($event)"
        [enableSpecialCharRule]="false"
        [password]="passwordValidation.value">
      </mat-password-strength> -->

      <!-- @if (showStrengthInfo) {
        <mat-password-strength-info
          [passwordComponent]="passwordComponent"
          lowerCaseCriteriaMsg="Al menos una minúscula"
          upperCaseCriteriaMsg="Al menos una mayúscula"
          digitsCriteriaMsg="Al menos un número"
          minCharsCriteriaMsg="8 caracteres">
        </mat-password-strength-info>
      } -->

      <br>
      
      <!-- <mat-label>Confirma tu contrase&ntilde;a</mat-label> -->
      <!-- <mat-form-field class="w-full mt-5" floatLabel="always"> -->
        <!-- <input -->
          <!-- matInput -->
          <!-- type="{{ visiblePassword2 ? 'text' : 'password' }}" -->
          <!-- placeholder="Vuelve a ingresar la nueva contraseña"> -->
          
        <!-- <mat-icon matSuffix class="material-icons-outlined" (click)="showPassword2()" color="accent"> -->
          <!-- {{ visiblePassword2 ? 'visibility_off' : 'visibility' }} -->
        <!-- </mat-icon> -->
      <!-- </mat-form-field> -->

      <!-- <div class="divider"></div> -->

      <!-- <div>
        <mat-slide-toggle #toggle>Show Password Details</mat-slide-toggle>

        <mat-form-field style="width: 100%" [color]="passwordComponent.color">
          <mat-label>Password</mat-label>
          <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
          <input
            matInput
            #password
            [type]="toggleVisbility.type"
            placeholder="Password"
          />
          <mat-hint align="end" aria-live="polite">
            {{password.value.length}} / {{passwordComponent.max}}
          </mat-hint>
        </mat-form-field>

        <mat-password-strength
          #passwordComponent
          (onStrengthChanged)="onStrengthChanged($event)"
          [password]="password.value"
          [customValidator]="pattern"
        >
        </mat-password-strength>

        <mat-password-strength-info
          *ngIf="toggle.checked"
          [passwordComponent]="passwordComponent6"
          customCharsCriteriaMsg="1 german special chars is required"
          [enableScoreInfo]="true"
        >
        </mat-password-strength-info>
      </div> -->


      <!-- <button -->
        <!-- type="submit" -->
        <!-- [disabled]="isLoginIn" -->
        <!-- class="w-full std-button" -->
        <!-- mat-flat-button -->
        <!-- color="warn" -->
        <!-- (click)="onSubmit()"> -->
        <!-- @if (isLoginIn) { -->
          <!-- <mat-progress-spinner diameter="30" color="accent" mode="indeterminate"></mat-progress-spinner> -->
        <!-- } -->
        <!-- @else{ -->
          <!-- <span>Siguiente</span> -->
        <!-- } -->
      <!-- </button> -->
    <!-- </form> -->
  <!-- </div> -->