<div class="flex flex-col justify-between min-h-screen pt-14 lg:pt-18">
  <div>
    <std-stepper
    title="Crea tu contraseña"
    description="Para activar tu cuenta en la plataforma, sigue los siguientes pasos">
      <std-stepper-item 
        step=1
        label="Nueva contraseña" 
        status="complete">
      </std-stepper-item>
      <std-stepper-item
        step=2
        label="Código de verificación"
        status="active">
      </std-stepper-item>
    </std-stepper>
    <section class="px-4 lg:px-6 pt-8 pb-20 lg:py-12">
      <form [formGroup]="verificationCodePresenter.form">
        <div class="flex flex-col gap-8 lg:gap-11 w-full max-w-xl mx-auto">
          <std-alert class="mb-20" type="info">
            <span>Hemos enviado el código de verificación al correo m********{{ '@' }}multiplica.com</span>
          </std-alert>
          <div class="flex flex-col gap-6 lg:gap-8">
            <div class="flex flex-col gap-1 w-full max-w-[14.5rem] mx-auto">
              <std-pin-input formControlName="pinCode"></std-pin-input>
            </div>
            <div>
              <div class="flex flex-col items-center text-center">
                <std-countdown
                  label="Este código expirará en"
                  position="center"
                ></std-countdown>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center">
            <std-button 
              label="Finalizar" 
              (clickEvent)="onClickFinalize()"
              [disabled]="verificationCodePresenter.form.invalid"
            ></std-button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <std-login-footer 
    [centered]="true"
  ></std-login-footer>
</div>
