.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-gradient {
  --tw-gradient-from: #eaeaea var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(234 234 234 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-gradient-to {
  --tw-gradient-to: #dadada var(--tw-gradient-to-position);
}

.show{
  display: block;
}

.hide{
  display: none;
}

.css-sidebar {
  &.is-active {
    .sidebar__content {
      @apply overflow-visible;
    }
    ~ .content__wrapper {
      @apply lg:w-[calc(100%-6.25rem)] lg:pl-[6.25rem];
    }
    .collapse-list {
      @apply gap-0;
    }
    ~ .css-toggle-sidebar {
      .css-tooltip-arrow {
        @apply top-1/2 mt-[-11px];
      }
      .show-collapse {
        @apply block;
      }
      .hidden-collapse {
        @apply hidden;
      }
      @apply left-[85px];
      i {
        @apply rotate-0;
      }
    }
    .css-tooltip {
      @apply top-0;
    }

    .show-collapse {
      @apply block;
    }
    @apply translate-x-0 lg:w-[6.25rem];
    @media screen and (max-width: 1023px) {
      .css-tooltip {
        @apply hidden;
      }
    }
    @media screen and (min-width: 1024px) {
      .css-toggle-sidebar span,
      .css-collapse-text,
      .css-notifications-title,
      .collapse-list-title,
      .css-collapse-icon,
      .collapse__box .css-collapse-body,
      .hidden-collapse,
      .link span {
        @apply hidden;
      }
      .css-collapse-header,
      .css-notifications,
      .css-toggle-sidebar,
      .css-box-user {
        @apply justify-center;
      }
      .css-toggle-sidebar {
        @apply flex;
      }
    }
    .item-skeleton {
      @apply border-0 min-w-14 w-14 h-14 p-0;
    }
    .item-skeleton--left {
      @apply w-full h-full;
    }
  }
  ~ .css-toggle-sidebar {
    .css-tooltip-arrow {
      @apply top-1/2 mt-[-11px];
    }
  }
  .css-tooltip-arrow {
    @apply top-1/2 mt-[-11px];
  }
}
