<form [formGroup]="form">
  <div class="flex flex-col gap-8 lg:gap-11 w-full max-w-xl mx-auto">
    <std-toast #toast class="mb-20" status="info"></std-toast>
    <div class="flex flex-col gap-6 lg:gap-8">
      <div class="flex flex-col gap-1 w-full max-w-[14.5rem] mx-auto">
        <std-pin-input #pinInput formControlName="pinCode"></std-pin-input>
      </div>
      <div>
        <div class="flex flex-col items-center text-center h-10 justify-center">
          <div *ngIf="!isTimeUp" class="flex flex-col items-center text-right">
            <span class="text-xs">Este código expirará en</span>
            <div class="flex items-center gap-1">
              <i class="icon-time text-primary"></i>
              <span class="font-headline font-bold">0{{ countdownMinutes }}:{{ countdownSeconds < 10 ? '0' + countdownSeconds : countdownSeconds }}</span>
            </div>
          </div>

          <std-link *ngIf="isTimeUp" label="Generar y enviar nuevo código" (clickEvent)="resendCode()"></std-link>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <std-button label="Finalizar" (clickEvent)="onSubmit()" [disabled]="form.invalid || isTimeUp || isLoading" [loading]="isLoading"></std-button>
    </div>
  </div>
</form>
