<div class="bg-primary lg:bg-primary/80 text-white px-6 pt-6 pb-8 lg:py-8 lg:py-12 z-10 lg:absolute lg:left-0 lg:bottom-0 lg:w-1/2">
  <header class="lg:hidden flex items-center justify-between">
    <h4 class="flex items-center gap-2 text-lg font-bold">
      <i class="icon-security-advice shrink-0 font-xl leading-none"></i>
      <span>Sugerencias de seguridad</span>
    </h4>
  </header>
  <div>
    <div class="flex items-center gap-2.5 pt-2.5 lg:pt-0">
      <i class="icon-security-advice shrink-0 hidden lg:block text-5xl leading-none"></i>
      <div class="text-sm">
        <p>
          <strong>No compartas</strong> tus claves personales ni tus tokens de seguridad
          por correo electrónico, redes sociales o teléfono.
        </p>
        <p>
          <strong>Recuerda</strong> que ningún representante de Santander te solicitará
          esta información.
        </p>
      </div>
    </div>
  </div>
</div>