.css-collapse.is-open .css-collapse-body {
  display: flex;
}

.bg-info-light {
  --tw-bg-opacity: 1;
  background-color: rgb(245 249 251 / var(--tw-bg-opacity));
}

.bg-border-default {
  --tw-bg-opacity: 1;
  background-color: rgb(143 143 143 / var(--tw-bg-opacity));
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}