<div class="px-4 py-8 lg:px-6 lg:pt-44 lg:pb-8">
  <div class="flex flex-col gap-4 lg:gap-8 w-full max-w-lg mx-auto">
    <h1 class="font-bold">
      <span class="block text-3xl">¡Hola!</span>
      <span class="block text-2xl">Te damos la bienvenida al nuevo Office Banking</span>
    </h1>
    <form [formGroup]="loginPresenter.form">
      <div *ngIf="caseShowAlert" class="mb-20">
        <std-toast [status]="caseShowAlert === 'blocked1' || caseShowAlert === 'blocked2' ? 'error' : 'warning'">
          <span [innerHTML]="msghowAlert"></span>
        </std-toast>
      </div>
      <div class="flex flex-col gap-6 lg:gap-8">
        <div>
          <div class="flex flex-col gap-1">
            <std-input
              label="Usuario"
              name="username"
              placeholder="Ingresa tu nombre de usuario"
              formControlName="username"
              [status]="loginPresenter.username.touched && loginPresenter.username.hasError('required') ? 'error' : 'default'"
              [helperText]="loginPresenter.username.touched && loginPresenter.username.hasError('required') ? loginPresenter.errorsCatelogue.usernameControlErrors.required : ''"></std-input>
          </div>
        </div>
        <div>
          <std-checkbox label="Recordar usuario" name="rememberUser" formControlName="rememberUser"></std-checkbox>
        </div>
        <div>
          <div class="flex flex-col gap-1">
            <std-input
              label="Contraseña"
              placeholder="Ingresa tu contraseña"
              name="password"
              [type]="visiblePassword ? 'text' : 'password'"
              [icon]="visiblePassword ? 'visibility-off' : 'visibility-on'"
              formControlName="password"
              [status]="loginPresenter.password.touched && loginPresenter.password.hasError('required') ? 'error' : 'default'"
              [helperText]="loginPresenter.password.touched && loginPresenter.password.hasError('required') ? loginPresenter.errorsCatelogue.passwordControlErrors.required : ''"
              (iconClick)="togglePassword()"
              ><div slot="tooltip">Si eres <strong>nuevo usuario</strong>, usa la contraseña temporal que enviamos a tu correo registrado. ¡Bienvenido!</div></std-input
            >
          </div>
        </div>
        <div class="flex flex-col gap-4 lg:gap-8">
          <std-link label="Recuperar contraseña" (clickEvent)="recoverPassword()"></std-link>

          <std-button [label]="isLoginIn ? 'Autenticando' : 'Ingresar'" (clickEvent)="onSubmit()" [disabled]="loginPresenter.form.invalid || isLoginIn || disabledButton" [loading]="isLoginIn"></std-button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <form *ngIf="false" [formGroup]="loginPresenter.form"> -->

<!-- <mat-icon matSuffix class="material-icons-outlined" (click)="togglePassword()" color="accent"> -->
<!-- {{ visiblePassword ? 'visibility_off' : 'visibility' }} -->
<!-- </mat-icon> -->

<!-- <button type="submit" [disabled]="loginPresenter.form.invalid || isLoginIn || disabledButton" -->
<!-- class="w-full std-button" mat-flat-button color="warn" (click)="onSubmit()"> -->
<!-- @if (isLoginIn) { -->
<!-- <mat-progress-spinner diameter="30" color="accent" mode="indeterminate"></mat-progress-spinner> -->
<!-- } @else { -->
<!-- <span>Ingresar</span> -->
<!-- } -->
<!-- </button> -->
<!-- </form> -->

<std-modal [show]="loginPresenter.modalRetry02.showModal" [size]="loginPresenter.modalRetry02.sizeModal" (iconClick)="closeModal()">
  <div class="flex flex-col gap-4 w-full text-center items-center">
    <std-support-icons type="warning" classes="w-12 h-12 mx-auto"></std-support-icons>
    <h2 class="font-bold text-2xl" [innerHTML]="loginPresenter.modalRetry02.title"></h2>
    <p [innerHTML]="loginPresenter.modalRetry02.subtitle"></p>
    <p class="text-alternative" [innerHTML]="loginPresenter.modalRetry02.body"></p>
  </div>
  <div slot="footer" class="w-full flex justify-center">
    <std-button label="{{ loginPresenter.modalRetry02.btnBackLabel }}" (clickEvent)="closeModal()"></std-button>
  </div>
</std-modal>

<std-modal [show]="loginPresenter.modalRetry01.showModal" [size]="loginPresenter.modalRetry01.sizeModal" (iconClick)="closeModal()">
  <div class="flex flex-col gap-4 w-full text-center items-center">
    <std-support-icons type="warning" classes="w-12 h-12 mx-auto"></std-support-icons>
    <h2 class="font-bold text-2xl" [innerHTML]="loginPresenter.modalRetry01.title"></h2>
    <p [innerHTML]="loginPresenter.modalRetry01.subtitle"></p>
    <p class="text-alternative" [innerHTML]="loginPresenter.modalRetry01.body"></p>
  </div>
  <div slot="footer" class="w-full flex justify-center">
    <std-button label="{{ loginPresenter.modalRetry01.btnBackLabel }}" (clickEvent)="closeModal()"></std-button>
  </div>
</std-modal>

<!-- <std-modal [show]="showModal" [size]="this.sizeModal" *ngIf="errorRetry==-1 || codeError == 'ERR461' || codeError == 'ERR462' " > -->
<std-modal [show]="loginPresenter.modalBloked01.showModal" [size]="loginPresenter.modalBloked01.sizeModal" (iconClick)="closeModal()">
  <div class="flex flex-col gap-4 w-full text-center items-center">
    <std-support-icons type="error" classes="w-12 h-12 mx-auto"></std-support-icons>
    <h2 class="font-bold text-2xl" [innerHTML]="loginPresenter.modalBloked01.title"></h2>
    <p [innerHTML]="loginPresenter.modalBloked01.footer"></p>
  </div>
  <div slot="footer" class="w-full flex justify-center">
    <std-button label="Entendido" (clickEvent)="closeModal()"></std-button>
  </div>
</std-modal>
