.container {
  margin-right: 20px;
}

.timer {
  text-align: right;
  height: 5px;
}

.elemento {
  display: inline-block;

  span {
    font-weight: bold;
  }
}

.svg {
  margin-right: 5px;
}

.label {
  font-size: 14px;
}
