<std-auth-header></std-auth-header>

<div class="flex flex-col justify-between min-h-screen pt-14 lg:pt-18">
  <div>
    <std-stepper label="Recupera tu contraseña" description="Para realizar el proceso de recuperación, sigue los siguientes pasos">
      <std-stepper-item #step1 step="1" label="Correo electrónico" status="active"></std-stepper-item>
      <std-stepper-item #step2 step="2" label="Código de verificación"></std-stepper-item>
      <std-stepper-item #step3 step="3" label="Nueva contraseña"></std-stepper-item>
    </std-stepper>

    <section class="px-4 lg:px-6 pt-8 pb-20 lg:py-12">
      <router-outlet></router-outlet>
    </section>
  </div>
  <std-login-footer [centered]="true"></std-login-footer>
</div>
