<div class="flex flex-col justify-center gap-2.5 p-4 lg:px-6">
  <div class="lg:hidden">
    <div class="flex flex-col gap-2 estilocustom">
      <p>Selecciona empresa:</p>
      <div class="relative bg-primary py-2 px-4 lg:py-4 lg:px-6 rounded-2xl flex items-center justify-between w-full" (click)="toggleModal(selectCompanyModal, true)">
        <p class="text-white font-bold text-base lg:text-xl leading-6">Talent Ready Perú SAC</p>
        <i class="icon-chevron-down text-white cursor-pointer text-2xl font-bold" data-modal="modal-option-select"></i>
      </div>
    </div>
  </div>

  <std-banner-ads>
    <std-slider [slides]="slides"> </std-slider>
  </std-banner-ads>

  <std-banner label="Posición consolidada">
    <std-breadcrumbs-item label="Posición consolidada"></std-breadcrumbs-item>
  </std-banner>

  <div class="mt-[14px] lg:hidden" data-modal="modal-select">
    <std-select showLabel placeholder="Saldos disponibles" (click)="toggleModal(selectCardModal, true)"></std-select>
  </div>

  <div class="flex flex-col gap-2 mb-6 lg:mt-[14px]">
    <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2">
      <div class="hidden lg:block">
        <std-heading label="Saldos disponibles"></std-heading>
      </div>
      <p class="text-xs leading-4 text-dark flex items-center gap-1">
        Información actualizada al <span class="font-bold">06 junio 2024 - 12:04 hrs</span>
        <i class="icon-reload text-base leading-none text-primary"></i>
      </p>
    </div>

    <!-- Accounts -->
    <div class="flex flex-col gap-4 pt-4">
      <std-box label="Cuentas Corrientes y de Ahorros" [link]="true" classesLink="hidden lg:flex" labelLink="Ir a Cuentas" iconLink="chevron-right" classes="bg-alternative-light border-none" (clickLink)="goToAccounts()">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4">
            <div class="flex flex-col gap-1 lg:w-2/3">
              <ng-container *ngIf="data?.balance?.accounts?.length || 0 > 0; else noProducts">
                <ng-container *ngFor="let cuenta of data?.balance?.accounts">
                  <std-collapse-total [label]="cuenta?.totalCurrency" [numberCounts]="cuenta?.quantity" [total]="cuenta?.symbol | appConcatSymbol : (cuenta?.totalCategory | number : '1.2-2')">
                    <div class="pt-[22px] w-full">
                      <div
                        *ngFor="let accountDetail of cuenta?.accountList"
                        class="flex items-center justify-between last:border-none border-b last:rounded-bl-lg border-alternative-medium bg-white hover:bg-alternative-light py-[12px] px-4 lg:py-0 lg:pr-0">
                        <div>
                          <p class="font-bold text-dark text-sm leading-5">{{ accountDetail?.accountType }}</p>
                          <p class="text-dark text-sm leading-5">{{ accountDetail?.accountNumber }}</p>
                        </div>
                        <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden" data-modal="modal-details"></i>
                        <div class="hidden lg:flex justify-end items-center gap-4">
                          <p class="text-dark text-sm leading-5">{{ accountDetail?.symbol | appConcatSymbol : (accountDetail?.total | number : '1.2-2') }}</p>
                          <std-options>
                            <div class="flex items-center">
                              <div slot="optionsBtn">
                                <std-options-btn label="Ver movimientos" icon="refinement"></std-options-btn>
                              </div>
                            </div>
                          </std-options>
                        </div>
                      </div>
                    </div>
                  </std-collapse-total>
                </ng-container>
              </ng-container>
            </div>
            <div class="flex-1">
              <std-card-price
                *ngIf="data"
                label="Total Consolidado"
                [result]="data.balance.summary.quantity"
                [totalSoles]="data.balance.summary.solesSymbol | appConcatSymbol : (data.balance.summary.totalSoles | number : '1.2-2')"
                [totalDollars]="data.balance.summary.dollarSymbol | appConcatSymbol : (data.balance.summary.totalDollars | number : '1.2-2')"
                [classes]="'bg-white'"
                [toggle]="true">
                <div slot="tooltip">
                  <p class="text-sm text-center">Aquí tienes el consolidado de todas tus cuentas en la moneda que elegiste</p>
                </div>
              </std-card-price>
            </div>
          </div>
          <div class="flex justify-center lg:hidden">
            <std-link label="Ir a Cuentas" icon-position="left" icon="chevron-right" (click)="goToAccounts()"></std-link>
          </div>
        </div>
      </std-box>
    </div>
  </div>

  <!-- INVERSIONES -->
  <div class="hidden lg:flex flex-col gap-2 mb-6">
    <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2">
      <div class="hidden lg:block">
        <std-heading label="Inversiones"> </std-heading>
      </div>
    </div>
    <div class="flex flex-col gap-4 pt-4">
      <std-box label="Depósitos a Plazo" class="bg-alternative-light border-none border-0">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4">
            <div class="flex flex-col gap-1 lg:w-2/3">
              <ng-container *ngIf="data?.investments?.productsCategory?.length || 0 > 0; else noProducts">
                <ng-container *ngFor="let product of data?.investments?.productsCategory">
                  <std-collapse-total [label]="product.totalCurrency" [numberCounts]="product.quantity" [total]="product?.symbol | appConcatSymbol : (product?.totalCategory | number : '1.2-2')">
                    <div class="pt-[22px] w-full">
                      <div
                        *ngFor="let productDetail of product?.productList"
                        class="flex items-center justify-between last:border-none border-b last:rounded-bl-lg border-alternative-medium bg-white hover:bg-alternative-light py-[12px] px-4 lg:py-0 lg:pr-0">
                        <div>
                          <p class="font-bold text-dark text-sm leading-5">{{ productDetail?.productName }}</p>
                        </div>
                        <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden" data-modal="modal-details"></i>
                        <div class="hidden lg:flex justify-end items-center gap-4">
                          <p class="text-dark text-sm leading-5">{{ productDetail?.symbol | appConcatSymbol : (productDetail?.total | number : '1.2-2') }}</p>
                          <std-options>
                            <div class="flex items-center">
                              <div slot="optionsBtn">
                                <std-options-btn label="Ver movimientos" icon="refinement"></std-options-btn>
                              </div>
                            </div>
                          </std-options>
                        </div>
                      </div>
                    </div>
                  </std-collapse-total>
                </ng-container>
              </ng-container>
            </div>
            <div class="flex-1">
              <std-card-price
                *ngIf="data"
                label="Total Consolidado"
                [result]="data.investments.summary.quantity"
                [totalSoles]="data.investments.summary.solesSymbol | appConcatSymbol : (data.investments.summary.totalSoles | number : '1.2-2')"
                [totalDollars]="data.balance.summary.dollarSymbol | appConcatSymbol : (data.balance.summary.totalDollars | number : '1.2-2')"
                classes="bg-white"
                [toggle]="true">
                <div slot="tooltip">
                  <p class="text-sm text-center">Aquí tienes el consolidado de todas tus cuentas en la moneda que elegiste</p>
                </div>
              </std-card-price>
            </div>
          </div>
          <div class="flex justify-center lg:hidden">
            <std-link label="Ir a Cuentas" icon-position="left" icon="chevron-right"></std-link>
          </div>
        </div>
      </std-box>
    </div>
  </div>

  <!-- DEUDAS -->
  <div class="hidden lg:flex flex-col gap-2 mb-6">
    <std-heading label="Deudas"> </std-heading>
    <div class="flex flex-col pt-4 rounded-lg bg-alternative-ligh">
      <div class="rounded-lg flex flex-col gap-5 p-6 border border-alternative-medium lg:flex-1 bg-alternative-light border-none rounded-b-none">
        <div class="flex items-center justify-between">
          <h3 class="relative after:content-[''] after:absolute after:-bottom-2 after:left-0 after:w-6 after:h-[2px] after:bg-primary text-dark text-lg font-bold">Deuda Directa</h3>
        </div>
        <div>
          <div class="flex flex-col gap-4">
            <div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4">
              <div class="flex flex-col gap-1 lg:w-2/3">
                <ng-container *ngIf="data?.debt?.directDebt?.productsCategory?.length || 0 > 0; else noProducts">
                  <ng-container *ngFor="let product of data?.debt?.directDebt?.productsCategory">
                    <std-collapse-total [label]="product?.totalCurrency" [numberCounts]="product?.quantity" [total]="product?.symbol | appConcatSymbol : (product?.totalCategory | number : '1.2-2')">
                      <div class="pt-[22px] w-full">
                        <div *ngFor="let dDirecta of product?.productList" class="flex items-center justify-between last:border-none border-b last:rounded-bl-lg border-alternative-medium bg-white hover:bg-alternative-light py-[12px] px-4">
                          <div>
                            <p class="font-bold text-dark text-sm leading-5">{{ dDirecta?.productName }}</p>
                          </div>
                          <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden" data-modal="modal-details"></i>
                          <div class="hidden lg:flex justify-end items-center gap-4 me-[50px]">
                            <p class="text-dark text-sm leading-5">{{ dDirecta?.symbol | appConcatSymbol : (dDirecta?.total | number : '1.2-2') }}</p>
                          </div>
                        </div>
                      </div>
                    </std-collapse-total>
                  </ng-container>
                </ng-container>
              </div>
              <div class="flex-1">
                <std-card-price
                  *ngIf="data"
                  label="Total Consolidado"
                  [result]="data.debt.directDebt.summary.quantity"
                  [totalSoles]="data.debt.directDebt.summary.solesSymbol | appConcatSymbol : (data.debt.directDebt.summary.totalSoles | number : '1.2-2')"
                  [totalDollars]="data.balance.summary.dollarSymbol | appConcatSymbol : (data.balance.summary.totalDollars | number : '1.2-2')"
                  classes="bg-white"
                  [toggle]="true">
                  <div slot="tooltip">
                    <p class="text-sm text-center">Aquí tienes el consolidado de todas tus cuentas en la moneda que elegiste</p>
                  </div>
                </std-card-price>
              </div>
            </div>
            <div class="flex justify-center lg:hidden">
              <std-link label="Ir a Cuentas" icon-position="left" icon="chevron-right"></std-link>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-lg flex flex-col gap-5 p-6 border border-alternative-medium lg:flex-1 bg-alternative-light border-none rounded-b-none">
        <div class="flex items-center justify-between">
          <h3 class="relative after:content-[''] after:absolute after:-bottom-2 after:left-0 after:w-6 after:h-[2px] after:bg-primary text-dark text-lg font-bold">Deuda Indirecta</h3>
        </div>
        <div>
          <div class="flex flex-col gap-4">
            <div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4">
              <div class="flex flex-col gap-1 lg:w-2/3">
                <ng-container *ngIf="data?.debt?.undirectDebt?.productsCategory?.length || 0 > 0; else noProducts">
                  <ng-container *ngFor="let product of data?.debt?.undirectDebt?.productsCategory">
                    <std-collapse-total [label]="product?.totalCurrency" [numberCounts]="product?.quantity" [total]="product?.symbol | appConcatSymbol : (product?.totalCategory | number : '1.2-2')">
                      <div class="pt-[22px] w-full">
                        <div *ngFor="let dDirecta of product?.productList" class="flex items-center justify-between last:border-none border-b last:rounded-bl-lg border-alternative-medium bg-white hover:bg-alternative-light py-[12px] px-4">
                          <div>
                            <p class="text-dark text-sm leading-5">{{ dDirecta?.productName }}</p>
                          </div>
                          <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden" data-modal="modal-details"></i>
                          <div class="hidden lg:flex justify-end items-center gap-4 me-[50px]">
                            <p class="text-dark text-sm leading-5">{{ dDirecta?.symbol | appConcatSymbol : (dDirecta?.total | number : '1.2-2') }}</p>
                          </div>
                        </div>
                      </div>
                    </std-collapse-total>
                  </ng-container>
                </ng-container>
              </div>
              <div class="flex-1">
                <std-card-price
                  *ngIf="data"
                  label="Total Consolidado"
                  [result]="data.debt.undirectDebt.summary.quantity"
                  [totalSoles]="data.debt.undirectDebt.summary.solesSymbol | appConcatSymbol : (data.debt.undirectDebt.summary.totalSoles | number : '1.2-2')"
                  [totalDollars]="data.balance.summary.dollarSymbol | appConcatSymbol : (data.balance.summary.totalDollars | number : '1.2-2')"
                  classes="bg-white"
                  [toggle]="true">
                  <div slot="tooltip">
                    <p class="text-sm text-center">Aquí tienes el consolidado de todas tus cuentas en la moneda que elegiste</p>
                  </div>
                </std-card-price>
              </div>
            </div>
            <div class="flex justify-center lg:hidden">
              <std-link label="Ir a Cuentas" icon-position="left" icon="chevron-right"></std-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GARANTÍAS -->
  <div class="hidden lg:flex flex-col gap-2 mb-6">
    <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-2">
      <div class="hidden lg:block">
        <std-heading label="Garantías"> </std-heading>
      </div>
    </div>
    <div class="flex flex-col gap-4 pt-4">
      <std-box label="Garantías" class="bg-alternative-light border-none">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4">
            <div class="flex flex-col gap-1 lg:w-2/3">
              <ng-container *ngIf="data?.guarantee?.productsCategory?.length || 0 > 0; else noProducts">
                <ng-container *ngFor="let product of data?.guarantee?.productsCategory">
                  <std-collapse-total [label]="product?.totalCurrency" [numberCounts]="product?.quantity" [total]="product?.symbol | appConcatSymbol : (product?.totalCategory | number : '1.2-2')">
                    <div class="pt-[22px] w-full">
                      <div *ngFor="let dDirecta of product?.productList" class="flex items-center justify-between last:border-none border-b last:rounded-bl-lg border-alternative-medium bg-white hover:bg-alternative-light py-[12px] px-4">
                        <div>
                          <p class="font-bold text-dark text-sm leading-5">{{ dDirecta?.productName }}</p>
                        </div>
                        <i class="icon-chevron-right text-primary text-2xl leading-none cursor-pointer lg:hidden" data-modal="modal-details"></i>
                        <div class="hidden lg:flex justify-end items-center gap-4 me-[50px]">
                          <p class="text-dark text-sm leading-5">{{ dDirecta?.symbol | appConcatSymbol : (dDirecta?.total | number : '1.2-2') }}</p>
                        </div>
                      </div>
                    </div>
                  </std-collapse-total>
                </ng-container>
              </ng-container>
            </div>
            <div class="flex-1">
              <std-card-price
                *ngIf="data"
                label="Total Consolidado"
                [result]="data.guarantee.summary.quantity"
                [totalSoles]="data.guarantee.summary.solesSymbol | appConcatSymbol : (data.guarantee.summary.totalSoles | number : '1.2-2')"
                [totalDollars]="data.balance.summary.dollarSymbol | appConcatSymbol : (data.balance.summary.totalDollars | number : '1.2-2')"
                classes="bg-white"
                [toggle]="true">
                <div slot="tooltip">
                  <p class="text-sm text-center">Aquí tienes el consolidado de todas tus cuentas en la moneda que elegiste</p>
                </div>
              </std-card-price>
            </div>
          </div>
          <div class="flex justify-center lg:hidden">
            <std-link label="Ir a Cuentas" icon-position="left" icon="chevron-right" (clickEvent)="ctaDetail()"></std-link>
          </div>
        </div>
      </std-box>
    </div>
  </div>

  <div class="-mx-4 lg:mx-0">
    <div class="swiper w-full js-swiper-two-slides !px-4 lg:!px-0 swiper-initialized swiper-horizontal swiper-backface-hidden">
      <ul class="swiper-wrapper" style="transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px)">
        <li class="swiper-slide swiper-slide-active" style="width: 546.5px; margin-right: 24px"></li>
        <li class="swiper-slide swiper-slide-next" style="width: 546.5px; margin-right: 24px"></li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <std-collapse-total label="Total Soles" numberCounts="0" [total]="'S/' | appConcatSymbol : (0 | number : '1.2-2')"></std-collapse-total>
  <std-collapse-total label="Total Dolares" numberCounts="0" [total]="'$' | appConcatSymbol : (0 | number : '1.2-2')"></std-collapse-total>
</ng-template>

<std-modal #selectCompanyModal class="!bg-primary" size="m" noHeader noFooter (iconClick)="toggleModal(selectCompanyModal, false)">
  <div class="bg-primary">
    <div class="flex justify-between">
      <div>
        <p class="text-base text-white leading-6 font-sans font-normal">Multiplica Perú</p>
        <p class="text-white font-bold text-base lg:text-xl leading-6">Talent Ready Perú SAC</p>
      </div>
      <button class="flex justify-center items-center focus:outline-none" data-modal-close>
        <i class="icon-close text-2xl leading-none text-white"></i>
      </button>
    </div>

    <div class="w-full pt-4 bg-primary py-2 lg:py-4 rounded-br-2xl rounded-bl-2xl">
      <div class="flex flex-col gap-4 w-full">
        <std-input type="search" placeholder="Buscar empresa" />
        <div class="flex flex-col gap-4">
          <std-radio-button label="Talent Ready Perú SAC" name="empresa" white />
          <std-radio-button label="Bazar SAC" name="empresa" white />
          <std-radio-button label="Cepedes International SAC" name="empresa" white />
          <std-radio-button label="Cobre Sol SAC" name="empresa" white />
          <std-radio-button label="Diamont SAC" name="empresa" white />
          <std-radio-button label="Elephant Huge SAC" name="empresa" white />
          <std-radio-button label="Talent Ready Perú SAC" name="empresa" white />
        </div>
      </div>
      <div class="absolute bottom-[-2px] left-0 w-full bg-alternative-light h-16 p-4 flex justify-center items-center">
        <std-button label="Consultar" size="s" disabled class="w-full" />
      </div>
    </div>
  </div>
</std-modal>

<std-modal #selectCardModal size="m" (iconClick)="toggleModal(selectCardModal, false)">
  <div class="flex flex-col gap-4 w-full">
    <div class="border-2 rounded-md border-alternative p-4">
      <std-radio-button label="Saldos disponibles" classes="items-center justify-between flex-row-reverse" classesRadio="!w-4 !h-4 checked:bg-[length:8px]" value="1" (changeEvent)="radioChanged($event)" />
    </div>
    <div class="border rounded-md border-border-default p-4">
      <std-radio-button label="Inversión" classes="items-center justify-between flex-row-reverse" classesRadio="!w-4 !h-4 checked:bg-[length:8px]" value="2" />
    </div>
    <div class="border rounded-md border-border-default p-4">
      <std-radio-button label="Deuda" classes="items-center justify-between flex-row-reverse" classesRadio="!w-4 !h-4 checked:bg-[length:8px]" value="3" />
    </div>
    <div class="border rounded-md border-border-default p-4">
      <std-radio-button label="Garantías" classes="items-center justify-between flex-row-reverse" classesRadio="!w-4 !h-4 checked:bg-[length:8px]" value="4" />
    </div>
  </div>
  <div slot="footer" class="w-full flex flex-col gap-4">
    <std-button label="Mostrar" />
  </div>
</std-modal>
