<div class="flex flex-col items-center justify-center gap-8 h-screen">
  <picture>
    <img class="w-full h-full object-cover object-center" src="assets/images/svg/illustration3.svg">
  </picture>
  <div class="flex flex-col items-center justify-center gap-4 px-6 text-center">
    <h2 class="font-bold lg:font-normal text-xl leading-6 lg:text-[42px] lg:leading-tight max-w-4xl">
      Hemos cerrado tu sesión
    </h2>
    <p class="text-base leading-6">
      Detectamos que ingresaste en otro navegador y para garantizar tu
      seguridad hemos cerrado esta sesión. <br>
      Si requieres asistencia adicional, escríbenos a <span class="font-bold">clientservice{{'@'}}santander.com.pe</span> ¡Estamos aquí para ayudarte! <br>Te recordamos que solo es posible
      iniciar sesión en uno a la vez.
    </p>
  </div>
</div>
