<div [ngClass]="cardClasses">
  <div class="w-full flex flex-col gap-2 px-4 py-4 lg:py-[22px]">
    <div class="flex items-center justify-between flex-wrap">
      <div class="flex gap-1">
        <p class="text-dark text-sm">
          {{ label }}
        </p>
      </div>
      <p class="text-neutral-medium text-base leading-6 font-bold">{{ result }}</p>
    </div>
    <div class="border-t border-dashed border-alternative-medium pt-2 flex justify-between items-center flex-wrap">
      <div class="flex flex-wrap flex-col lg:flex-row xl:flex-col gap-0.5">
        <p class="text-dark text-xs">Tipo de cambio:</p>
        <p class="text-dark text-xs font-bold">Office Banking</p>
      </div>
      <p class="text-dark font-bold text-lg leading-6 text-right">{{ total }}</p>
    </div>
  </div>

  <ng-container *ngIf="toggle">
    <div class="flex p-4 justify-end lg:justify-center border-t lg:border-l lg:border-t-0 border-alternative-medium h-[43px] lg:h-auto">
      <!-- <std-toggle label-one="S/" label-two="$" (changeEvent)="toggleEvent($event.detail)"></std-toggle> -->
    </div>
  </ng-container>
</div>
