@if (loading) {
 <std-skeleton-content></std-skeleton-content>
} @else {
<div class="flex flex-col gap-2.5 lg:border-b lg:border-b-alternative-medium p-4 lg:px-6">
    <div class="flex gap-2 p-4 rounded-lg border-warning bg-warning-light hidden lg:flex">
        <div class="shrink-0 flex">
            <i class="text-2xl leading-none text-warning icon-alert-2"></i>
        </div>
        <div class="flex-1 text-sm">

            <p>
                Si necesitas realizar operaciones que aún no están disponibles en esta
                nueva versión, por favor, ingresa al Antiguo Office Banking.
            </p>

        </div>
        <div class="shrink-0">
            <button>
                <i class="icon-close text-2xl leading-none"></i>
            </button>
        </div>
    </div>
    <div class="lg:hidden">
        <div class="flex flex-col gap-2">
            <p>Selecciona empresa:</p>
            <div class="relative bg-primary py-2 px-4 lg:py-4 lg:px-6 rounded-2xl flex items-center justify-between w-full">
                <p class="text-white font-bold text-base lg:text-xl leading-6">
                    Talent Ready Perú SAC
                </p>
                <i class="icon-chevron-down text-white cursor-pointer text-2xl font-bold" data-modal="modal-option-select"></i>
            </div>
        </div>
    </div>
    <div class="bg-alternative-light flex flex-col w-full p-4 lg:py-6 lg:px-7 rounded-2xl relative overflow-hidden gap-4 lg:gap-6">
        <div>
            <ol class="flex items-center gap-2">
                <li class="text-sm text-alternative first:!text-alternative font-bold after:content-['] after:border-solid after:border-r-[3px] after:border-b-[3px] after:-rotate-45 after:p-[3px] after:inline-block last:after:hidden last:text-dark">
                    Posición consolidada
                </li>
            </ol>
        </div>
        <div class="flex items-center justify-between w-full">
            <h2 class="text-lg lg:text-3xl font-bold text-dark">
                Posición consolidada
            </h2>
            <picture class="block w-20 h-20 lg:w-40 lg:h-40 absolute bottom-0 lg:bottom-[-47px] right-4 lg:right-6">
                <source srcset="assets/images/svg/buildings.svg" media="(min-width: 1024px)">

                <img class="w-full h-full object-cover object-center aspect-[3/1] lg:aspect-auto" src="assets/images/svg/buildings.svg" alt="Alt">
            </picture>
        </div>
    </div>
</div>
}