<div class="flex flex-col justify-center gap-2.5 p-4 lg:px-6">
	<std-heading label="Cuentas Corrientes y de Ahorros"></std-heading>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Tipo de cuenta:</p>
		<p class="font-bold text-dark text-sm leading-5">Cuenta corriente</p>
	</div>
	<div class="flex flex-col gap-2">
		<p class="text-dark text-sm">Cuenta:</p>
		<p class="font-bold text-dark text-sm leading-5">Nombre Lorem Ipsum</p>
		<p class="text-dark text-sm leading-5">MN 194-9734444-1-25</p>
	</div>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Moneda</p>
		<div class="text-sm leading-5 bg-border-default text-white rounded-sm h-5 text-center inline-block w-max px-2">
			Soles
		</div>
	</div>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Saldo disponible:</p>
		<p class="font-bold text-dark text-sm leading-5">S/50.000,00</p>
	</div>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Saldo contable:</p>
		<p class="font-bold text-dark text-sm leading-5">S/50.000,00</p>
	</div>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Saldo diferido:</p>
		<p class="font-bold text-dark text-sm leading-5">S/50.000,00</p>
	</div>
	<div class="pb-2 flex flex-col gap-2">
		<p class="text-dark text-sm leading-5">Saldo retenido:</p>
		<p class="font-bold text-dark text-sm leading-5">S/50.000,00</p>
	</div>
	<std-button label="Ver detalle"></std-button>
	<std-button type="secondary" label="Volver"></std-button>
</div>
