// Headline
$std-typo-headline-1-font-size: 96px;
$std-typo-headline-1-line-height: 112px;
$std-typo-headline-1-weight: 300;
$std-typo-headline-1-letter-spacing: -1.5px;

$std-typo-headline-2-font-size: 64px;
$std-typo-headline-2-line-height: 80px;
$std-typo-headline-2-weight: 300;
$std-typo-headline-2-letter-spacing: 0.12px;

$std-typo-headline-3-font-size: 40px;
$std-typo-headline-3-line-height: 48px;
$std-typo-headline-3-weight: 300;
$std-typo-headline-3-letter-spacing: 0.5px;

$std-typo-headline-4-font-size: 32px;
$std-typo-headline-4-line-height: 40px;
$std-typo-headline-4-weight: normal;
$std-typo-headline-4-letter-spacing: 0.25px;

$std-typo-headline-5-font-size: 24px;
$std-typo-headline-5-line-height: 32px;
$std-typo-headline-5-weight: normal;
$std-typo-headline-5-letter-spacing: 0.0036em;

$std-typo-headline-6-font-size: 20px;
$std-typo-headline-6-line-height: 24px;
$std-typo-headline-6-weight: normal;
$std-typo-headline-6-letter-spacing: 0.0036em;

// Body
$std-typo-body-1-font-size: 18px;
$std-typo-body-1-line-height: 24px;
$std-typo-body-1-weight: normal;
$std-typo-body-1-letter-spacing: 0.12px;

$std-typo-body-2-font-size: 16px;
$std-typo-body-2-line-height: 24px;
$std-typo-body-2-weight: normal;
$std-typo-body-2-letter-spacing: -0.0032em;

$std-typo-body-3-font-size: 14px;
$std-typo-body-3-line-height: 20px;
$std-typo-body-3-weight: normal;
$std-typo-body-3-letter-spacing: -0.0015em;

// kickers
$std-typo-kickers-font-size: 13px;
$std-typo-kickers-line-height: 16px;
$std-typo-kickers-weight: normal;
$std-typo-kickers-letter-spacing: -0.004em;
$std-typo-kickers-transform: uppercase;

// Caption
$std-typo-caption-font-size: 12px;
$std-typo-caption-line-height: 16px;
$std-typo-caption-weight: normal;
$std-typo-caption-letter-spacing: -0.004em;

// Small
$std-typo-small-font-size: 10px;
$std-typo-small-line-height: 16px;
$std-typo-small-weight: normal;
$std-typo-small-letter-spacing: -0.004em;

// Extra Small
$std-typo-extra-small-font-size: 8px;
$std-typo-extra-small-line-height: 12px;
$std-typo-extra-small-weight: normal;
$std-typo-extra-small-letter-spacing: -0.004em;
