<div class="flex flex-col items-center justify-center gap-8 h-screen">
  <picture>
    <img class="w-full h-full object-cover object-center" src="assets/images/svg/illustration2.svg">
  </picture>
  
  <div class="flex flex-col items-center justify-center gap-4 px-6 text-center">
    <h2 class="font-bold lg:font-normal text-xl leading-6 lg:text-[42px] lg:leading-tight">
      Tenemos un problema y lo estamos resolviendo
    </h2>
    <p class="text-base leading-6">
      Disculpa las molestias. Si requieres asistencia adicional, escríbenos
      a <span class="font-bold">clientservice{{'@'}}santander.com.pe</span>
    </p>
    <button (click)="goToHome()" class="inline-flex justify-center items-center font-bold rounded-full transition-all duration-300 ease-in-out bg-primary text-white hover:bg-primary-dark gap-1 min-w-36 px-5 py-3" aria-label="Ir al Inicio">
      <span>Ir al Inicio</span>
    </button>
  </div>
</div>
