// Border radius

$std-border-radius-squared: 0px;
$std-border-radius-capsule: 200px;
$std-border-radius-capsule-left: 100px 0px 0px 100px;
$std-border-radius-capsule-right: 0px 100px 100px 0px;
$std-border-radius-lg: 16px;
$std-border-radius-sm: 8px;
$std-border-radius-xs: 4px;
$std-border-1: 1px;
$std-border-2: 2px;

// Dimensiones
$std-control-height-md: 48px;
$std-control-height-sm: 40px;

// fonts
$std-control-font-size-md: 16px;
$std-control-font-size-sm: 14px;
