// Primary
$std-color-primary: #EC0000;
$std-color-primary-light: rgba(1, 157, 244, 0.08);

// Secondary
$std-color-secondary-1: #fff;
$std-color-secondary-2: #0b2739;

// Highlight
$std-color-highlight-1: #5cb615;
$std-color-highlight-1-light: #bde4a4;
$std-color-highlight-1-dark: #3c7521;

$std-color-highlight-2: #a13ea1;
$std-color-highlight-2-light: #debce4;
$std-color-highlight-2-dark: #642a72;

$std-color-highlight-3: #8BC3D3;
$std-color-highlight-3-light: #fbc7de;
$std-color-highlight-3-dark: #922859;

$std-color-highlight-4: #ec624b;
$std-color-highlight-4-light: #f8cccc;
$std-color-highlight-4-dark: #983230;

$std-color-highlight-5: #f28d15;
$std-color-highlight-5-light: #f8d2b3;
$std-color-highlight-5-dark: #9f591f;

// Gray
$std-color-gray-10: #f5f5f5;
$std-color-gray-20: #ededed;
$std-color-gray-30: #d3d4d3;
$std-color-gray-40: #b6b7b7;
$std-color-gray-50: #86888c;
$std-color-gray-60: #6c6f74;
$std-color-gray-70: #50535a;
$std-color-gray-80: #44464b;
$std-color-gray-90: #313235;
$std-color-gray-100: #242628;
