<div class="flex flex-col justify-between min-h-screen pt-14 lg:pt-18">
  <div>
    <section class="flex flex-col gap-6 bg-alternative-light px-4 lg:px-6 py-8">
      <div class="flex flex-col gap-4 max-w-4xl mx-auto text-center">
        <h1 class="text-3xl font-bold">Crea tu contraseña</h1>
        <p>Para activar tu cuenta en la plataforma, debes crear una contraseña segura</p>
      </div>

      <std-stepper [steps]="['Nueva contraseña', 'Código de verificación']" [step]="1"></std-stepper>
    </section>
    <section class="px-4 lg:px-6 pt-8 pb-20 lg:py-12">
      <form [formGroup]="fGroup">
        <div class="flex flex-col gap-8 lg:gap-11 w-full max-w-xl mx-auto">
          <std-alert class="mb-20" type="info">
            <span>Hemos enviado el código de verificación al correo m********{{ '@' }}multiplica.com</span>
          </std-alert>
          <div class="flex flex-col gap-6 lg:gap-8">
            <div class="flex flex-col gap-1 w-full max-w-[14.5rem] mx-auto">
              <label>Ingresa el código</label>
              <div class="flex justify-center gap-2">
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
                <div class="grow-0 relative">
                  <input formControlName="inputCod" class="w-8 h-12 text-center rounded-lg px-1 py-3 border border-border-default hover:border-dark focus:border-alternative focus:ring-alternative" maxlength="1" value="" />
                </div>
              </div>
              <!-- <std-pin-input formArrayName="inputs"></std-pin-input> -->
            </div>
            <div>
              <div class="flex flex-col items-center text-center">
                <std-countdown formControlName="countdown"></std-countdown>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center">
            @if (fGroup.controls.inputCod.hasError('required')){
            <std-button label="Finalizar" (clickEvent)="onClickFinalize()"></std-button>
            }@else{
            <std-button label="Finalizar" (clickEvent)="onClickFinalize()"></std-button>
            }
          </div>
        </div>
      </form>
    </section>
  </div>
  <std-login-footer [centered]="true"></std-login-footer>
</div>
