# Default values for npmhello.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
name: login
image:
  repository: azeastusbspdevnewobwacr.azurecr.io/login
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"
containerPort: 8091


service:
  name: login
  type: LoadBalancer
  port: 8091
  targetPort: 8091

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: localhost
      paths:
        - path: /
          pathType: ImplementationSpecific
