<form [formGroup]="form">
  <div class="flex flex-col gap-8 lg:gap-11 w-full max-w-xl mx-auto">
    <std-toast #toast status="info"></std-toast>
    <div class="flex flex-col gap-6 lg:gap-8">
      <div>
        <std-pin-input #pinInput formControlName="pinCode"></std-pin-input>
      </div>

      @if (isTimeUp) {
      <div class="flex flex-col items-center h-10 justify-center">
        <std-link label="Generar y enviar nuevo código" (clickEvent)="resendCode()"></std-link>
      </div>
      } @else {
      <div class="flex flex-col items-center text-center">
        <span class="text-xs">Este código expirará en</span>
        <div class="flex items-center gap-1">
          <i class="icon-time text-primary"></i>
          <span class="font-headline font-bold">0{{ countdownMinutes }}:{{ countdownSeconds < 10 ? '0' + countdownSeconds : countdownSeconds }}</span>
        </div>
      </div>
      }
    </div>

    <div class="flex flex-col items-center">
      <std-button label="Siguiente" (clickEvent)="onSubmit()" [disabled]="form.invalid || isTimeUp || isLoading" [loading]="isLoading"></std-button>
    </div>
  </div>
</form>
